@page
@model Bagrut_Eval.Pages.Reports.ExamLogModel
@using Bagrut_Eval.Utilities
@{
    ViewData["Title"] = "היסטורית בחינות"; // "Exams Log Report"
}

@* <h1>@ViewData["Title"]</h1> *@

<form method="post" asp-page-handler="Filter" class="form-horizontal" id="examsLogFilterForm">
    <div class="form-group row mb-3">
        <label for="SelectedExamId" class="col-sm-2 col-form-label exam-label">בחר בחינה:</label>
        <div class="col-sm-4">
            <select asp-for="SelectedExamId" asp-items="Model.AvailableExams" class="form-control">
                <option value="">-- בחר בחינה --</option>
            </select>
        </div>
    </div>
</form>

<hr />

@if (Model.ExamsLogs.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 15%;">תאריך ושעה</th>
                    <th style="width: 15%;">שם המנהל</th>
                    <th style="width: 20%;">כותרת בחינה</th>
                    <th style="width: 50%;">פרטים</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.ExamsLogs)
                {
                    <tr>
                        <td> @TimeConverter.ConvertUtcToIsraelTime(log.Date).ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@log.User!.FirstName @log.User.LastName</td>
                        <td>@log.Exam!.ExamTitle</td>
                        <td>@log.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>אין יומני בחינות להצגה עבור הבחירה הנוכחית.</p>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SelectedExamId').on('change', function () {
                $('#examsLogFilterForm').submit();
            });
        });
    </script>
}