@page
@model Bagrut_Eval.Pages.Reports.TablesRawModel
@using Bagrut_Eval.Utilities
@{
    ViewData["Title"] = "מערכת מעקב מחוון - בגרות מדעי המחשב";
}
@* 
<div class="text-center">
    <h1 class="display-4">Welcome to Bagrut Eval</h1>
    <p>Data from MySQL Database:</p>
</div>

<hr />
 *@
<br />
<h2>Users</h2>
@if (Model.Users != null && Model.Users.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Subject & Role</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    @* <td>@user.Role</td>   MosheSteinerRole*@
                    @* <td>@(user.UserSubjects.FirstOrDefault()?.Role)</td> *@
                    <td>
                        @(user.UserSubjects != null && user.UserSubjects.Any()
                                        ? string.Join(", ", user.UserSubjects.Select(us => $"{us.Subject?.Title}: {Model.RoleDisplayNames[us.Role!]}"))
                                        : "לא שויך")
            </td>
            <td>@user.Active</td>
        </tr>
                }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}

<hr />

<h2>Exams</h2>
@if (Model.Exams != null && Model.Exams.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Active</th>
                <th>Locked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in Model.Exams)
            {
                <tr>
                    <td>@exam.Id</td>
                    <td>@exam.ExamTitle</td>
                    <td>@(exam.Active ? "כן" : "לא")</td>
                    <td>@(exam.IsLocked ? "כן" : "לא")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No exams found.</p>
}

<hr />

<h2>Parts</h2>
@if (Model.Parts != null && Model.Parts.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Exam Title</th>
                <th>Question Number</th>
                <th>Question Part</th>
                <th>Issue Count</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model.Parts)
            {
                <tr>
                    <td>@part.Id</td>
                    <td>@(part.Exam?.ExamTitle ?? "N/A")</td>
                    <td>@part.QuestionNumber</td>
                    <td>@part.QuestionPart</td>
                    <td>@(part.Issues?.Count ?? 0)</td>
                    <td>@part.Score</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No parts found.</p>
}

<hr />

<h2>Issues</h2>
<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#filterSortModal">
    פתיחת מסנן ומיון
</button>

<form method="post" asp-page="/Reports/TablesRaw">
    <input type="hidden" asp-for="FilterSortModel.ShowClosed" />
    <input type="hidden" asp-for="FilterSortModel.ShowNewerThanLastLogin" />
    <input type="hidden" asp-for="FilterSortModel.DescriptionSearch" />
    <input type="hidden" asp-for="FilterSortModel.UserNameSearch" />

    @if (Model.Issues != null && Model.Issues.Any())
    {

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Exam</th>
                    <th>Description</th>
                    <th>Opened</th>
                    <th>Status</th>
                    <th>Initiator</th>
                    <th>Senior</th>
                    <th>Part Details</th>
                    <th>Answer</th>
                    <th>Closed</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var line = 1;
                }
                @foreach (var issue in Model.Issues)
                {
                    <tr>
                        <td>@(line++)</td>
                        <td>@issue.Id</td>
                        <td>@issue.Exam.ExamTitle</td>
                        <td>@(issue.Part != null ? $"{issue.Part.QuestionNumber}{issue.Part.QuestionPart}" : "")</td>
                        <td>@issue.Description</td>
                        <td>@TimeConverter.ConvertUtcToIsraelTime(issue.OpenDate).ToString("dd/MM/yyyy")</td>
                        <td>@Model.GetIssueStatusDisplay(issue.Status)</td> 
                        <td>@(issue.User?.FirstName ?? "") @(issue.User?.LastName ?? "")</td>
                        <td>@(issue.FinalAnswer?.Senior?.FirstName ?? "") @(issue.FinalAnswer?.Senior?.LastName ?? "")</td>
                        <td>@(issue.FinalAnswer?.Content ?? "")</td>
                        <td>@(issue.CloseDate != null ? TimeConverter.ConvertUtcToIsraelTime(issue.CloseDate.Value).ToString("dd/MM/yyyy") : "")</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No issues found.</p>
    }
</form>
<hr />
<h2>Drawings</h2>
@if (Model.Drawings != null && Model.Drawings.Any())
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="3%">ID</th>
                <th width="5%">IssueId</th>
                <th width="25%">Description</th>
                <th width="5%">FileName</th>
                <th width="7%">Mime</th>
                <th width="45%">FilePath</th>
                <th width="10%">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var drawing in Model.Drawings)
            {
                <tr>
                    <td>@drawing.Id</td>
                    <td>@drawing.IssueId</td>
                    <td>@drawing.Issue!.Description</td>
                    <td>@drawing.OriginalFileName</td>
                    <td>@drawing.MimeType</td>
                    <td>@drawing.FilePathOrUrl</td>
                    <td>@(drawing.UploadDate != null ? TimeConverter.ConvertUtcToIsraelTime(drawing.UploadDate).ToString("dd/MM/yyyy") : "N/A")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No issues found.</p>
}
<hr />

<h2>Metrics</h2>
@if (Model.Metrics != null && Model.Metrics.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="15%">Exam</th>
                <th width="10%">Type</th>
                <th width="5%">#</th>
                <th width="5%">Part</th>
                <th width="55%">description</th>
                <th width="5%">Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var metric in Model.Metrics)
            {
                <tr>
                    <td>@metric.Id</td>
                    <td>@metric.Exam!.ExamTitle</td>
                    <td>@metric.ScoreType</td>
                    <td>@metric.QuestionNumber</td>
                    <td>@metric.Part</td>
                    <td>@metric.RuleDescription</td>
                    <td>@metric.Score</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Metrics found.</p>
}
<hr />

<h2>Last Logins</h2>
@if (Model.LastLogins != null && Model.LastLogins.Any())
{

    <table class="table table-bordered" style="width:50%;">
        <thead>
            <tr>
                <th width="5%"></th>
                <th width="20%">שם</th>
                <th width="20%">אימייל</th>
                <th width="20%">תאריך כניסה אחרון</th>
            </tr>
        </thead>
        <tbody>
            @{
                int lineNumber = 0;
            }
            @foreach (var user in Model.LastLogins)
            {
                lineNumber++;
                <tr>
                    <td>@lineNumber</td>
                    <td>@user!.User!.FirstName @user.User.LastName</td>
                    <td>@user.User.Email</td>
                    <td>@TimeConverter.ConvertUtcToIsraelTime(user.LoginDate).ToString("dd/MM/yy-HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No logins found.</p>
}

@* Include the shared dialog component at the bottom of the page *@
@* <partial name="_FilterDialog" model="Model.FilterSortModel" /> *@
@await Html.PartialAsync("_FilterDialog", Model.FilterSortModel, new ViewDataDictionary(ViewData) { ["CurrentPagePath"] = Request.Path })