@page
@model Bagrut_Eval.Pages.Reports.UserLogModel
@using Bagrut_Eval.Utilities
@{
    ViewData["Title"] = "היסטורית מעריכים"; // "Users Log Report"
}

@* <h1>@ViewData["Title"]</h1> *@

<form method="post" asp-page-handler="Filter" class="form-horizontal" id="usersLogFilterForm">
    <div class="form-group row mb-3">
        <label for="SelectedUserId" class="col-sm-2 col-form-label exam-label">בחר מעריך:</label>
        <div class="col-sm-4">
            <select asp-for="SelectedUserId" asp-items="Model.AvailableUsers" class="form-control">
                <option value="">-- בחר מעריך --</option>
            </select>
        </div>
        @* New: Display status and role here *@
        <div class="col-sm-6 d-flex align-items-center">
            @if (Model.SelectedUserId.HasValue && Model.SelectedUserId.Value > 0)
            {
                <h3> @Model.SelectedUserRole  &nbsp;&nbsp; @Model.SelectedUserStatus</h3>
            }
        </div>
        <input type="hidden" asp-for="SelectedUserId" />
    </div>
</form>

<hr />

@if (Model.UsersLogs.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 20%;">שם המעריך</th>
                    <th style="width: 10%;">מבצע השינוי</th>
                    <th style="width: 10%;">תאריך ושעה</th>
                    <th style="width: 60%;">תיאור השינוי</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model.UsersLogs)
                {
                    <tr>
                        <td>@log.User?.FirstName @log.User?.LastName (@log.User?.Email)</td>        
                        <td>
                            @{
                                var initiator = log.Initiator != null ? log.Initiator.FirstName + " " + log.Initiator.LastName : "מערכת/לא ידוע";
                            }
                            @initiator                           
                        </td>
                        <td>@TimeConverter.ConvertUtcToIsraelTime(log.Date).ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@log.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>אין הסטורית מעריך עבור הבחירה הנוכחית.</p>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SelectedUserId').on('change', function () {
                $('#usersLogFilterForm').submit();
            });
        });
    </script>
}