@page
@model AdminPageModel
@using Alumni76.Utilities
@{
    ViewData["Title"] = "ניהול בוגרים";
    var classOptions = new List<string> { "", "יב-1", "יב-2", "יב-3", "יב-4", "יב-5" };
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3 mx-4" role="alert">
        @Html.Raw(TempData["SuccessMessage"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="full-width-content main-container">
    <div class="buttunBox">
        <br />
        <br />
            <button type="button" class="btn btn-primary filter-button" data-bs-toggle="modal" data-bs-target="#filterSortModal">
                סינון
            </button>
            <br />
            <form method="post" asp-page-handler="ResetSort" >
                <button type="submit" class="btn btn-primary filter-button">איפוס</button>
            </form>
        <br /><br /><br /><br />
        <div id="countersBox">
            <h3>בוגרים</h3><h5>@Model.CountAllUsers / @Model.CountActiveUsers</h5><br />
            <h3>מגיעים</h3><h5>@Model.CountParticipants</h5>
        </div>
    </div>
    <div class="userTable">
        @{
            var sortState = (List<string>)(ViewData["SortState"])!;
            Func<string, string> getSortDir = colName =>
            {
                if (sortState != null && sortState.Any() && sortState.First().StartsWith(colName))
                {
                    return sortState.First().EndsWith("_asc") ? "desc" : "asc";
                }
                return "asc";
            };
            Func<string, string> getSortDirIcon = colName =>
            {
                if (sortState == null || !sortState.Any() || !sortState.First().StartsWith(colName)) return "";
                return sortState.First().EndsWith("_asc") ? "up" : "down";
            };

            // Helper to check if this column is the one currently sorted
            Func<string, bool> isCurrentSort = colName =>
            sortState != null && sortState.Any() && sortState.First().StartsWith(colName);

        }
        <table class="table table-sm table-bordered user-table-compact">
            <thead>
                <tr style="background-color: #a0a0a0;">
                    <th style="width: 50px;">פעיל</th>
                    <th width="2%"></th>
                    <th style="width: 6%;" class="sortable-header @(isCurrentSort("FirstName") ? "active-sort-col" : "")">
                        <a asp-page="AdminPage" asp-route-sort="FirstName" asp-route-dir="@getSortDir("FirstName")">
                            שם פרטי <i class="bi @getSortDirIcon("FirstName")"></i>
                        </a>
                    </th>
                    <th style="width: 8%;" class="sortable-header @(isCurrentSort("LastName") ? "active-sort-col" : "")">
                        <a asp-page="AdminPage" asp-route-sort="LastName" asp-route-dir="@getSortDir("LastName")">
                            שם משפחה <i class="bi @getSortDirIcon("LastName")"></i>
                        </a>
                    </th>
                    <th style="width: 8%;">שם נעורים</th>
                    <th style="width: 6%;">כינוי</th>
                    <th style="width: 5%;" class="sortable-header @(isCurrentSort("Class") ? "active-sort-col" : "")">
                        <a asp-page="AdminPage" asp-route-sort="Class" asp-route-dir="@getSortDir("Class")">
                            כיתה <i class="bi @getSortDirIcon("Class")"></i>
                        </a>
                    </th>
                    <th style="width: 9%;">טלפון 1</th>
                    <th style="width: 9%;">טלפון 2</th>
                    <th style="width: 15%;">אימייל</th>
                    <th style="width: 15%;">כתובת</th>
                    <th style="width: 6%;">משתתף</th>
                    <th style="width: 8%;">שמירה</th>
                    <th style="width: 9%;" class="sortable-header @(isCurrentSort("LastLogin") ? "active-sort-col" : "")">
                        <a asp-page="AdminPage" asp-route-sort="LastLogin" asp-route-dir="@getSortDir("LastLogin")">
                            כניסה <i class="bi @getSortDirIcon("LastLogin")"></i>
                        </a>
                    </th>
                    <th width="70px">סיסמה</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var line = 1;
                }
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <form method="post" asp-page-handler="SaveUser">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="UserId" value="@user.UserId" />
                        <td class="text-center">
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input class="form-check-input" type="checkbox" name="Active" value="true" @(user.Active ? "checked" : "")>
                                <input type="hidden" name="Active" value="false" />
                            </div>
                        </td>
                        <td>@(line++)</td>
                        <td><input name="FirstName" value="@user.FirstName" class="form-control form-control-sm" required /></td>
                        <td><input name="LastName" value="@user.LastName" class="form-control form-control-sm" required /></td>
                        <td><input name="MaidenName" value="@user.MaidenName" class="form-control form-control-sm" /></td>
                        <td><input name="NickName" value="@user.NickName" class="form-control form-control-sm" /></td>
                        <td>
                            <select name="Class" class="form-select form-select-sm">
                                @foreach (var opt in classOptions)
                                {
                                    <option value="@opt" selected="@(user.Class == opt)">@opt</option>
                                }
                            </select>
                        </td>
                        <td><input name="Phone1" value="@user.Phone1" class="form-control form-control-sm" required /></td>
                        <td><input name="Phone2" value="@user.Phone2" class="form-control form-control-sm" /></td>
                        <td style="direction: ltr;"><input name="Email" value="@user.Email" class="form-control form-control-sm" required /></td>
                        <td><input name="Address" value="@user.Address" class="form-control form-control-sm" /></td>
                        <td class="text-center">
                            <div class="form-check form-switch d-flex justify-content-center">
                                <input class="form-check-input" type="checkbox" name="Participate" value="true" @(user.Participate ? "checked" : "")>
                                <input type="hidden" name="Participate" value="false" />
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-success w-100">שמור</button>
                        </td>
                        </form>
                        <td>
                            @{
                                var login = user.LastLogin.HasValue
                                ? TimeConverter.ConvertUtcToIsraelTime(user.LastLogin.Value).ToString("dd/MM/yyyy")
                                : "";
                            }
                              @login
                        </td>
                        <td>
                            <form method="post" asp-page-handler="ResetPassword">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="userId" value="@user.UserId" />
                                <button type="submit" class="btn btn-warning btn-sm"
                                        onclick="return confirm('האם אתה בטוח שברצונך לאפס את הסיסמה עבור @user.FirstName @user.LastName?');">
                                    איפוס סיסמה
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .main-container {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .buttunBox {
        flex: 1;
        direction: rtl;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start;
        gap: 15px;
    }

    .filter-button {
       /*  margin: 40px 0px 0px 20px; */      
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        width: 100px !important;
        max-width: 120px;
        display: block;
    }

    .buttunBox form {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .userTable {
        flex: 15;
        padding: 0px 20px;
    }

    .user-table-compact {
        table-layout: fixed; /* [cite: 33] */
        width: 100%;
    }

    .form-control-sm, .form-select-sm {
        padding: 2px 5px;
        font-size: 1.3rem !important;
    }

    .user-table-compact thead th {
        background-color: #a0a0a0 !important;
        color: white;
        text-align: center;
        /* FIXES: */
        padding: 12px 5px !important; /* Adds vertical room */
        vertical-align: middle !important;
        height: 50px; /* Optional: forces a specific minimum height */
    }

    /* Centers the checkboxes and buttons vertically in the row */
    .user-table-compact td {
        vertical-align: middle !important;
    }

    .form-check-input {
        cursor: pointer;
    }
    #countersBox{
        border-width:1px;
        border-style:ridge;
        background-color:lightcyan; 
        text-align:center;
        padding: 15px;
    }
</style>
@section Scripts {
    @await Html.PartialAsync("_FilterDialog", Model.FilterModel)
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}