@page
@model Bagrut_Eval.Pages.ReportModel
@using Bagrut_Eval.Utilities
@{
    ViewData["Title"] = "שאלות ותשובות למחוון";
}

<div class="container-fluid">
    @* <h1>דוחות על תקלות בבחינות</h1> *@ @* Reports on Exam Issues *@
    <br />
    @* Display Success/Error Messages from TempData *@
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    @* Form for Exam Selection and Report Type Toggle *@
    <form method="post" asp-page-handler="Filter" class="me-3">
        @* <div class="form-group row mb-3"> *@
        <div class="form-group d-flex align-items-center">
            <label asp-for="SelectedExamId" class="me-3 exam-label">בחר בחינה:</label> @* class="col-sm-2 col-form-label exam-label" *@
            <div class="col-sm-6">
                <select asp-for="SelectedExamId" asp-items="Model.AvailableExams" class="form-control" onchange="this.form.submit()">
                    <option value="">-- בחר בחינה --</option> @* -- Select Exam -- *@
                </select>
            </div>
            &nbsp&nbsp&nbsp
            <div class="form-check">
                <input type="checkbox" class="form-check-input" asp-for="EditMyReportSelected" onchange="this.form.submit()">
                <label class="form-check-label" asp-for="EditMyReportSelected">ערוך נושאים פתוחים</label> @* Show My Reports Only *@
            </div>
        </div>
    </form>
    @if (Model.SelectedExamId.HasValue && Model.SelectedExamId.Value > 0)
    {
        <button type="button" class="btn btn-primary filter-button" data-bs-toggle="modal" data-bs-target="#filterSortModal">
            סינון
        </button>

        <form method="post" asp-page-handler="ResetSort" class="d-inline">
            <input type="hidden" name="selectedExamId" value="@Model.SelectedExamId" />
            <button type="submit" class="btn btn-primary filter-button">איפוס מיון וסינון</button> @*class="btn btn-warning btn-sm"*@
        </form>
    }
    <hr />

    @* Display Reports based on selected Exam *@
    @if (Model.SelectedExamId.HasValue && Model.SelectedExamId.Value > 0)
    {
        <h3>@Model.SelectedExamTitle - דיווחים @(Model.EditMyReportSelected ? "שלי" : "מלא")</h3>
        <br />
        @if (Model.Issues != null && Model.Issues.Any())
        {
            // Retrieve sort state from ViewData
            var sortState = (List<string>)(ViewData["SortState"])!;
            Func<string, string> getSortDir = colName =>
            {
                if (sortState == null || !sortState.Any()) return "asc";
                if (sortState.First().StartsWith(colName)) return sortState.First().EndsWith("_asc") ? "desc" : "asc";
                return "asc";
            };
            Func<string, string> getSortDirIcon = colName =>
            {
                if (sortState == null || !sortState.Any() || !sortState.First().StartsWith(colName)) return "";
                return sortState.First().EndsWith("_asc") ? "up" : "down";
            };

            int line = 1;
            <table class="table table-bordered table-striped mt-3 report-table">
                <thead>
                    <tr>
                        <th width="4%"></th> @* line number*@
                        <th width="5%">
                            <a asp-page="Report"
                               asp-route-selectedExamId="@Model.SelectedExamId"
                               asp-route-sort="QuestionNumber"
                               asp-route-secondarySort="Part.QuestionPart"
                               asp-route-dir="@getSortDir("QuestionNumber")"
                               asp-route-FilterSortModel.ShowClosed="@Model.FilterModel!.ShowClosed"
                               asp-route-FilterSortModel.ShowNewerThanLastLogin="@Model.FilterModel.ShowNewerThanLastLogin"
                               asp-route-FilterSortModel.DescriptionSearchTerm="@Model.FilterModel.DescriptionSearch"
                               asp-route-FilterSortModel.UserNameSearchTerm="@Model.FilterModel.UserNameSearch">
                                סעיף
                                @if (getSortDirIcon("QuestionNumber") != "")
                                {
                                    <i class="bi bi-arrow-@getSortDirIcon("QuestionNumber")"></i>
                                }
                            </a>
                        </th>
                        <th width="12%">
                            <a asp-page="Report"
                               asp-route-selectedExamId="@Model.SelectedExamId"
                               asp-route-sort="OpenDate"
                               asp-route-dir="@getSortDir("OpenDate")"
                               asp-route-FilterSortModel.ShowClosed="@Model.FilterModel.ShowClosed"
                               asp-route-FilterSortModel.ShowNewerThanLastLogin="@Model.FilterModel.ShowNewerThanLastLogin"
                               asp-route-FilterSortModel.DescriptionSearchTerm="@Model.FilterModel.DescriptionSearch"
                               asp-route-FilterSortModel.UserNameSearchTerm="@Model.FilterModel.UserNameSearch">
                                תאריך פתיחה
                                @if (getSortDirIcon("OpenDate") != "")
                                {
                                    <i class="bi bi-arrow-@getSortDirIcon("OpenDate")"></i>
                                }
                            </a>
                        </th>
                        <th width="12%">
                            <a asp-page="Report"
                               asp-route-selectedExamId="@Model.SelectedExamId"
                               asp-route-sort="User"
                               asp-route-dir="@getSortDir("User")"
                               asp-route-FilterSortModel.ShowClosed="@Model.FilterModel.ShowClosed"
                               asp-route-FilterSortModel.ShowNewerThanLastLogin="@Model.FilterModel.ShowNewerThanLastLogin"
                               asp-route-FilterSortModel.DescriptionSearchTerm="@Model.FilterModel.DescriptionSearch"
                               asp-route-FilterSortModel.UserNameSearchTerm="@Model.FilterModel.UserNameSearch">
                                מעריך
                                @if (getSortDirIcon("User") != "")
                                {
                                    <i class="bi bi-arrow-@getSortDirIcon("User")"></i>
                                }
                            </a>
                        </th>
                        <th width="30%">תיאור הבעיה</th>
                        <th width="10%">תמונות</th>
                        <th width="5%">
                            <a asp-page="Report"
                               asp-route-selectedExamId="@Model.SelectedExamId"
                               asp-route-sort="Status"
                               asp-route-dir="@getSortDir("Status")"
                               asp-route-FilterSortModel.ShowClosed="@Model.FilterModel.ShowClosed"
                               asp-route-FilterSortModel.ShowNewerThanLastLogin="@Model.FilterModel.ShowNewerThanLastLogin"
                               asp-route-FilterSortModel.DescriptionSearchTerm="@Model.FilterModel.DescriptionSearch"
                               asp-route-FilterSortModel.UserNameSearchTerm="@Model.FilterModel.UserNameSearch">
                                סטטוס
                                @if (getSortDirIcon("Status") != "")
                                {
                                    <i class="bi bi-arrow-@getSortDirIcon("Status")"></i>
                                }
                            </a>
                        </th>
                        <th width="40%">תשובה</th>
                        <th width="10%">הורדה</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issue in Model.Issues)
                    {
                        <tr>
                            <td>@(line++)</td>
                            @{
                                var question = issue.Part != null ? issue.Part.QuestionNumber : issue.QuestionNumber;
                                if (question != "" && issue.Part?.QuestionPart != "")
                                {
                                    question += issue.Part?.QuestionPart;
                                }
                            }
                            <td>@question</td>
                            <td>@TimeConverter.ConvertUtcToIsraelTime(issue.OpenDate).ToString("dd/MM/yy-HH:mm")</td>
                            <td>@issue!.User!.FirstName @issue.User.LastName</td>
                            <td>
                                @* Editable Description Section *@
                                @if (Model.EditMyReportSelected && issue.Status == IssueStatus.Open &&
                                                    Model.CurrentLoggedInUserId == issue.UserId)
                                {
                                    <form method="post" asp-page-handler="UpdateIssueDescription">
                                        <input type="hidden" name="issueId" value="@issue.Id" />
                                        <input type="hidden" asp-for="SelectedExamId" /> @* Keep context for redirect *@
                                        <input type="hidden" asp-for="EditMyReportSelected" /> @* Keep context for redirect *@

                                        <textarea name="newDescription" class="form-control" rows="2" style="width:100%;">@issue.Description</textarea>
                                        <button type="submit" class="btn btn-sm btn-outline-primary">עדכן תיאור</button> @* Update Description *@
                                    </form>
                                }
                                else
                                {
                                    @issue.Description
                                }
                            </td>
                            <td>
                                @if (issue.Drawings != null && issue.Drawings.Any())
                                {
                                    <div class="mt-3">
                                        <div class="d-flex flex-wrap">
                                            @foreach (var drawing in issue.Drawings)
                                            {
                                                <div class="drawing-item me-2 mb-2" style="position: relative;">
                                                    <a href="@drawing.FilePathOrUrl"
                                                       target="_blank">
                                                        <img src="@drawing.FilePathOrUrl" alt="@drawing.OriginalFileName"
                                                             class="drawing-item img-thumbnail" style="max-width: 50px; max-height: 50px;" />
                                                    </a>

                                                    @* START: DRAWING DELETION FORM *@
                                                    @if (Model.EditMyReportSelected && issue.Status == IssueStatus.Open)
                                                    {
                                                        <form method="post" asp-page-handler="DeleteDrawing" class="d-inline-block" style="display: block;">
                                                            <input type="hidden" name="drawingUrl" value="@drawing.FilePathOrUrl" />
                                                            <input type="hidden" name="issueId" value="@issue.Id" />
                                                            <input type="hidden" asp-for="SelectedExamId" />
                                                            <input type="hidden" asp-for="EditMyReportSelected" />
                                                            <button type="submit" class="btn btn-sm btn-danger py-0 px-1"
                                                                    onclick="return confirm('האם אתה בטוח שברצונך למחוק את התמונה הזו?');">
                                                                מחק
                                                            </button>
                                                        </form>
                                                    }
                                                    @* END: DRAWING DELETION FORM *@
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <span>אין</span> @* None *@
                                }
                                @* START: DRAWING ADDITION FORM (Up to 3 total) *@
                                @if (Model.EditMyReportSelected && issue.Status == IssueStatus.Open && issue.Drawings!.Count() < 3)
                                {
                                    <div>
                                        <form method="post" asp-page-handler="AddDrawing" enctype="multipart/form-data"
                                              class="d-flex flex-column align-items-start m-0" id="issueForm_@issue.Id">
                                            <input type="hidden" name="issueId" value="@issue.Id" />
                                            <input type="hidden" asp-for="SelectedExamId" />
                                            <input type="hidden" asp-for="EditMyReportSelected" />

                                            <input type="file" id="NewDrawing_@issue.Id" name="NewDrawing" class="d-none" accept="image/*" required />

                                            <div class="d-flex">
                                                @* 1. Paste Button (Triggers JS Listener) *@
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-primary me-2 paste-trigger"
                                                        data-issue-id="@issue.Id"
                                                        id="pasteBtn_@issue.Id">
                                                    הדבק
                                                </button>
                                                @* 2. Choose File Button (Fallback) *@
                                                <label for="NewDrawing_@issue.Id" class="btn btn-sm btn-outline-primary me-2 file-label">
                                                    הוספת תמונה
                                                </label>
                                                @* 3. Upload Button (Hidden until an image is ready) *@
                                                <button type="submit"
                                                        class="btn btn-sm btn-success d-none"
                                                        id="uploadBtn_@issue.Id">
                                                    העלאה
                                                </button>
                                            </div>

                                            @* 4. Image Review/Preview Area (Hidden until an image is pasted/selected) *@
                                            <div id="previewContainer_@issue.Id" class="d-none">
                                                <h6>תמונה להעלאה:</h6>
                                                <img id="previewImage_@issue.Id" class="img-thumbnail" style="max-width: 50px; max-height: 50px;" />
                                                <button type="button"
                                                        class="btn btn-sm btn-danger clear-preview"
                                                        data-issue-id="@issue.Id">
                                                    בטל
                                                </button>
                                            </div>
                                            <small class="form-text text-muted">
                                                (ניתן להוסיף עוד @(3 - issue.Drawings!.Count()) תמונות)
                                            </small>

                                        </form>
                                    </div>
                                }
                                @* END: DRAWING ADDITION FORM *@
                            </td>
                            <td>@Html.Raw(Model.GetIssueStatusTag(issue.Status))</td>
                            <td>@(issue.FinalAnswer?.Content ?? "אין תשובה עדיין")</td> @* No Answer *@
                            <td>@issue.FinalAnswer?.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>אין שאלות להצגה עבור בחינה זו</h3> @* No issues to display for this exam, in this report type. *@
        }


        @* Form for adding a new Issue (only visible in MyReport mode) *@
        @* New structure, using Modal, for adding a new Issue (only visible in MyReport mode) *@
        @if (Model.EditMyReportSelected)
        {
            @* 2. BOOTSTRAP MODAL DEFINITION: Contains the entire form *@
            <div class="modal fade" id="addNewIssueModal" tabindex="-1" aria-labelledby="addNewIssueModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    @* Use modal-lg to give the form more space *@
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="סגור"></button>
                            <h5 class="modal-title" id="addNewIssueModalLabel">הוספת נושא או שאלה חדשה</h5>
                        </div>

                        @* Start the form HERE, wrapping the modal-body and modal-footer *@
                        <form method="post" asp-page-handler="AddIssue" enctype="multipart/form-data">

                            <div class="modal-body">
                                @* START: Original Form Content (Moved from the bottom of the page) *@

                                @* Hidden inputs *@
                                <input type="hidden" asp-for="SelectedExamId" />
                                <input type="hidden" asp-for="EditMyReportSelected" />

                                <div class="form-group row mb-2">
                                    <label asp-for="SelectedIssueScope" class="col-sm-2 col-form-label">שאלה / סעיף:</label>
                                    <div class="col-sm-6">
                                        <select asp-for="SelectedIssueScope" asp-items="Model.AvailablePartsForNewIssue" class="form-control">
                                            <option value="">--  בחר שאלה / סעיף  --</option>
                                        </select>
                                        <span asp-validation-for="SelectedIssueScope" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label asp-for="NewIssue.Description" class="col-sm-2 col-form-label">תיאור:</label> @* Issue Description: *@
                                    <div class="col-sm-10">
                                        <textarea asp-for="NewIssue.Description" class="form-control" rows="3"></textarea>
                                        <span asp-validation-for="NewIssue.Description" class="text-danger"></span>
                                    </div>
                                </div>

                                @* Drawings Input for New Issue *@
                                <div class="form-group row mb-3">
                                    <label for="NewIssueDrawings" class="col-sm-2 col-form-label">תמונות:</label> @* Drawings: *@
                                    <div class="col-sm-10">
                                        <div class="d-flex align-items-center mb-2">
                                            @* 1. Paste Button *@
                                            <button type="button" style="font-weight:bold;"
                                                    class="btn btn-sm btn-outline-primary me-2 paste-trigger"
                                                    data-issue-id="NewIssue"
                                                    id="pasteBtn_NewIssue">
                                                הדבק
                                            </button>
                                            @* 2. Choose Files Button *@
                                            <label for="NewIssueDrawings" class="btn btn-sm btn-outline-primary me-2 file-label" style="margin-bottom:0">
                                                הוספת תמונה מקובץ
                                            </label>
                                        </div>

                                        @* Hidden input to manage the file list *@
                                        <input type="file" id="NewIssueDrawings" name="NewIssueDrawings"
                                               class="d-none" multiple accept="image/*" />

                                        @* 3. Image Review/Preview Area *@
                                        <div id="previewContainer_NewIssue" class="mb-2 d-none">
                                            <h6 class="mt-2" id="previewTitle_NewIssue">תמונות להעלאה (<span id="fileCount_NewIssue">0</span>/3):</h6>
                                            <div id="previewList_NewIssue" class="d-flex flex-wrap align-items-start">
                                                @* Image previews will be dynamically inserted here *@
                                            </div>
                                        </div>

                                        <small class="form-text text-muted" style="font-size:1.4rem;">ניתן לצרף עד 3 קובצי תמונות בסך הכל.</small>
                                        <span asp-validation-for="NewIssueDrawings" class="text-danger"></span>
                                    </div>
                                </div>

                                @* END: Original Form Content *@
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ביטול</button>
                                <button type="submit" class="btn btn-primary">הוספה</button> @* This is the new submit button location *@
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>אנא בחר בחינה מהרשימה כדי לצפות בדוחות.</h2> @* Please select an exam from the list to view reports. *@
    }
</div>
<style>
    /* 1. Fixes the Textarea Height within the Add New Issue Modal */
    #addNewIssueModal textarea {
        /* Set a fixed minimum height (approx. 25px per row for rows="3") */
        min-height: 75px !important;
    }

    /* 2. Fixes Dropdown Truncation by Reducing Font Size */
    #addNewIssueModal select.form-control {
        font-size: 1.25rem; /* Reduces font size slightly for better fit */
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
    }

    #addNewIssueModal .btn {
        font-size: 1.2rem;
    }
</style>

@await Html.PartialAsync("_FilterDialog", Model.FilterModel, new ViewDataDictionary(ViewData) { ["SelectedExamId"] = Model.SelectedExamId })
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        window.MAX_FILE_SIZE = @(Bagrut_Eval.Pages.ReportModel.maxFileSizeinMB);
    </script>

    <script src="~/js/add-issue.js" asp-append-version="true"></script>
}